@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lobster&family=Playball&display=swap");




.comments {
  width: 50%;
  height: 200px;
  background-color: lightgray;
  border-radius: 30px;

  margin: 20px auto;
}
.comment {
  display: flex;
  flex-direction: column;
}
.comment__user {
  background-color: gray;
  text-indent: 20px;
  padding: 20px;
  margin: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.comment__user span {
  font-size: 20px;
  color: white;
}
.comment__text {
  background-color: lightgray;
  text-indent: 30px;
  font-size: 20px;
  font-style: italic;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 30px;
  background-color: lightskyblue;
  width: 50%;
  justify-content: center;
  margin: 150px auto;
}
.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}
.form__container textarea {
  width: 100%;
  margin: 30px auto;
  height: 150px;
}
.form__container button {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 30px;
  text-align: left;
}
#input-error {
  background: rgb(231, 94, 122);
  color: white;
  padding: 3px;
  border: solid 2px crimson;
  border-radius: 5px;
}
.no__comments {
  margin-left: 100px;
}
.no__comments > p {
  margin-left: 0;
  font-size: 30px;
  color: blue;
}

.edit__mode {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.edit__mode textarea {
  width: 80%;
}
.comments__buttons__edit__mode__save {
  background-color: rgb(10, 114, 10);
  margin: 10px;
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
}

.comments__buttons__edit__mode__cancel {
  margin: 10px;
  padding: 5px 15px;
  border-radius: 10px;
}
.comments__buttons {
  margin-top: 45px;
  margin-left: 550px;
  padding: 5px 15px;
}
.comments__buttons__delete {
  background-color: red;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  color: white;
}
.comments__buttons__edit {
  background-color: rgb(11, 194, 11);
  margin: 10px;
  padding: 5px 15px;
  border-radius: 10px;
}
p {
  font-family: Lobster, sans-serif;
}
.modal{
  color:brown
}
.modal__button__delete{
background-color: red;
}