.no_fishes{
    margin: 250px 100px 300px 100px;
   
}
.no_fishes p{
    font-size: 50px;
    color: blueviolet;
    text-align: center;
  
}
.no_fishes span{
    font-size: 50px;
    color: white;
    font-style: italic;
}
.loading{
    font-size: 3rem;
    color: rgb(234, 16, 162);
    margin-bottom: 450px;

}