footer {
  width: 100%;
  text-align: justify;
  justify-content: space-between;
  background-color: lightskyblue;
  display: grid;
  justify-items: center;
  border-top: solid 3px lightskyblue;
  background-image: url("../../../public/assets/bedrefiskeutstyr-no duo spearhead ryuki wobbler til ørret trout fiske ørret maximus ultimatum.jpg");
  grid-template-columns: 1fr 1fr 1fr;
  background-color: lightskyblue;
  margin-bottom: 0;
  color: white;
}

.footer__img {
  float: left;
  height: 60px;
  width: 100px;
}
footer ul {
  margin-top: 10px;
  padding: 10px;
  list-style-type: none;
  color: white;
}
.footer__li {
  padding: 5px;
  color: aliceblue;
  margin: 1 1;
  display: list-item;
  list-style-type: none;
  text-align: left;
  border: none;
}
.footer__a {
  padding: 2px;
  color: #7bb6da;
}
.description{
  margin: 25px auto;
}
.description__p {
  padding-top: 10px;
  padding-left: 10px;
  vertical-align: bottom;
  text-indent: 10px;
  margin-left: 10px;
}
.description img {
  margin-left: 10px;
  margin-top: 15px;
  margin-right: 5px;
}
