section{
    margin-top: 170px;
}
.top{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 20px auto;
}
.top__img__wrapper{
    width: 100%;
    
    
    border-radius: 30px;
}
.top__img__wrapper img{
    width: 100%;
    height:auto;
    object-fit: fill;
    border: solid 1px grey;
    border-radius: 30px;
}
.top__description{
    text-decoration: underline;
    font-style: bold;
    font-size: 40px;
    text-align: left;
    color: lightskyblue;
  
    text-indent: 50px;
}
.div__descripton{
    text-align: right;
}
.top__span{
    

        font-style: italic;
        font-size: 40px;
        text-align: left;
        color: lightskyblue;
       
  
}
.top__span__bottom{
    font-family: Lobster, sans-serif;
   
    font-size: 40px;
    text-align: left;
    color: lightskyblue;
    padding: 0;
    display: inline;
   

}
.top__span__bottom_notLogged{
    color: red;

}
.top__description__bottom{
    width: 100%;
    font-style: bold;
    font-size: 50px;
    text-align: justify;
    color: rgb(234, 16, 162);
    font-family: Dancing Script, serif;

    margin-right: 170px;
   
    display: block;
   
}
.no_fishes{
    margin: 250px 0 300px 100px;
   
}
.no_fishes{
    font-size: 30px;
    color: rgb(226, 43, 43);
  
}
.no_fishes span{
    font-size: 50px;
    color: lightskyblue;
    font-style: italic;
}