@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lobster&family=Playball&display=swap');



main{
    width:100%;
     
     
 }
 .section__second{
    margin-top: 100px;
    padding-bottom: 100px;
    
 }
 .section__main{
     margin: 0 auto ;
     width: 80%;
     height: auto;
     margin-top: 183px;
 
 }




.no_fishes{
    font-size: 30px;
    color: blueviolet;
    text-align: center;
    margin: 50px auto;
}
.no_fishes span{
    font-size: 50px;
    color: black;
    font-style: italic;
}
.search__form{
    width: 50%;
    text-align: right;
    margin:0 550px;
   
}

.search__label{
    font-family: Lobster, sans-serif;
    display: block;
  color: #19BEC2;
text-align: right;
    font-size: 30px;
    margin: 10px;
}
.search__button{
    font-family: Lobster, sans-serif;

    margin: 10px;
    background-color: #19BEC2;
    color:   rgb(234, 16, 162);
    font-style: italic;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 3px 20px;
    border-radius: 10px;
}
.search__form__input{
    width: 80%;
    text-align: left;
    display: block;
    margin: 0 0 20px 100px;
    padding: 5px;
}